<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serveur Inaccessible</title>
    <style>
    body{
    	background: black;
    	color: white;
    	font-family: Arial, sans serif;
    }
    header{
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%)
    }
    </style>
</head>
<body>
	<header>
		<h1>Desoler le serveur est inaccessible.</h1>
	</header>
</body>
</html>
                
